@mixin input-text-base
{
    display:          block;
    background-color: #fff;
    border:           1px solid #fff;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        14px;
    line-height:      120%;
    color:            #1d1d1b;
    box-sizing:       border-box;
    padding:          12px 9px 11px;
    margin:           0;

} // @mixin input-text-base

::-webkit-input-placeholder
{
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    color:       inherit;
    opacity:     1;
}

::-moz-placeholder
{
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    color:       inherit;
    opacity:     1;
}

::placeholder
{
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    color:       inherit;
    opacity:     1;
}

:-ms-input-placeholder
{
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    color:       inherit;
    opacity:     1;
}

::-ms-input-placeholder
{
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    color:       inherit;
    opacity:     1;
}

input[type=text]
{
    @include input-text-base;

} // input[type-text]

input[type=search]
{
    @include input-text-base;

} // input[type-search]

input[type=email]
{
    @include input-text-base;

} // input[type-email]

input[type=password]
{
    @include input-text-base;

} // input[type-password]

input[type=submit]
{
    @include btn-base;
}

input[type=button]
{
    @include btn-base;
}

.form-item
{
    label
    {
        font-family: 'HelveticaNeueLTStd-Roman';
        font-size:   18px;
        color:       #1d1d1b;
        line-height: 120%;
        display:     inline-block;
        padding:     5px 0 5px;

    } // label

} // .form-item

.form-text
{
    //

} // .form-text

.form-item-input-error
{
    input
    {
        border-color: #db0032;

        &::-webkit-input-placeholder
        {
            color: #db0032;
        }

        &::-moz-placeholder
        {
            color: #db0032;
        }

        &::placeholder
        {
            color: #db0032;
        }

        &:-ms-input-placeholder
        {
            color: #db0032;
        }

        &::-ms-input-placeholder
        {
            color: #db0032;
        }
    }

} // .form-item-input-error

.form-item-error
{
    font-family:     Arial, Helvetica, sans-serif;
    font-size:       14px;
    line-height:     120%;
    color:           #db0032;
    text-transform:  none;
    text-decoration: none;

} // .form-item-error
