{% extends "partials/base-page-template-preview.twig" %}
{% block content %}
    <div class="page__main">
        <section class="content">
            <div class="content__main">

                <ul class="preview">
                    <li class="preview__item">
                        <a href="home.html" target="_blank" class="preview__image"><img src="/temp-files/preview-home-ico.png" alt=""></a>
                        <a href="home.html" target="_blank" class="preview__title">home</a>
                        <a href="/temp-files/preview-home.png" target="_blank" class="preview__design">DESIGN</a>
                    </li>
                    <li class="preview__item">
                        <a href="fiche-produit.html" target="_blank" class="preview__image"><img src="/temp-files/preview-ficheproduit-ico.png" alt=""></a>
                        <a href="fiche-produit.html" target="_blank" class="preview__title">fiche produit</a>
                        <a href="/temp-files/preview-ficheproduit.png" target="_blank" class="preview__design">DESIGN</a>
                    </li>
                </ul> <!-- /preview -->

            </div><!-- /content__main -->
        </section>
    </div> <!-- /page__main -->
{% endblock %}
