{% extends "partials/base-page-template.twig" %}
{% block content %}
    <div class="page__main">
        <section class="content">
            <div class="content__main">

                <div class="preview-fonts">
                    <div style="font-family:'HelveticaNeue-Bold'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeue-Bold - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeue-Medium'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeue-Medium - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeue-Light'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeue-Light - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeue-UltraLight'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeue-UltraLight - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeueLTStd-Bd'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeueLTStd-Bd - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeueLTStd-Md'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeueLTStd-Md - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeueLTStd-Roman'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeueLTStd-Roman - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeueLTStd-Th'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeueLTStd-Th - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                    <div style="font-family:'HelveticaNeueLTStd-Lt'">
                        <div class="preview-font">
                            <div style="font-weight:normal">HelveticaNeueLTStd-Lt - The quick brown fox jumps over the lazy dog - 12345#$%^&@#</div>
                        </div>
                    </div>
                </div> <!-- /preview-fonts -->
                
                <div class="preview-svg-icons">
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-nav-mobile"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-fb"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-socials-tw"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-next-bold"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-phone-full"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-home"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-calc"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-capacite"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-loi"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-ptz"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#logo"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-experts"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-etude"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-pin"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-habiter"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-investir"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-star"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-printer"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-see3d"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-google+"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-arrow-bordered"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-triangle"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-triangle-tag"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-triangle-equal"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-calendar"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-calendar2"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-sort-triangled"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-parking"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-pin-blue"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-pin-red"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-pin-brown"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-transport"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-shops"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-medical"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-edu"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-clubs"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-stopwatch"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-magnifier2"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-letter-1"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-letter-2"></use>
                        </svg>
                    </div>
                    <div class="preview-svg-ico">
                        <svg preserveAspectRatio="xMidYMid meet">
                            <use xlink:href="/images/sprite.svg#ico-map"></use>
                        </svg>
                    </div>
                </div> <!-- /preview-svg-icons -->

            </div><!-- /content__main -->
        </section>
    </div> <!-- /page__main -->
    <style type="text/css">
        .content__main
        {
            width:   1280px;
            margin:  0 auto;
            padding: 30px;
        }
        .preview-svg-icons
        {
            margin: 0 0 10px;
        }
        .preview-svg-ico
        {
            background-color: silver;
            width:            50px;
            height:           50px;
            fill:             #000;
            display:          inline-block;
            margin:           0 5px 5px 0;
        }
        .preview-svg-ico svg
        {
            width:  100%;
            height: 100%
        }
        .preview-fonts
        {
            margin: 0 0 30px;
        }
        .preview-fonts > div
        {
            margin: 0 0 10px;
        }
        .preview-font
        {
            font-size:   14px;
            line-height: 26px;
            background:  none #ccc;
            margin:      0 0 4px;
        }
    </style>
{% endblock %}
