<div class="block-3lines">
    <div class="block-3lines__left"></div>
    <div class="block-3lines__center">
        <div class="block-3lines__cola"></div>
        <div class="block-3lines__colb"></div>
        <div class="block-3lines__colc"></div>
    </div>
    <div class="block-3lines__right"></div>
</div> <!-- /block-3lines -->
