<div class="block-socials-footer">
    <div class="block-socials-footer__inner">
        <div class="block-socials-footer__main">
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-fb"></use>
                </svg>
            </a>
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-socials-tw"></use>
                </svg>
            </a>
        </div> <!-- /block-socials-footer__main -->
    </div> <!-- /block-socials-footer__inner -->
</div> <!-- /block-socials-footer -->
