<div class="block-phonecall">
    <div class="block-phonecall__main">
        <div class="block-phonecall__cola">
            <a href="#" class="block-phonecall__ico">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-phone-full"></use>
                </svg>
            </a>
        </div>
        <div class="block-phonecall__colb">
            Un conseiller à votre écoute au <span>01 42 30 30 30</span>, du lundi au vendredi de 9h à 19h
        </div>
        <div class="block-phonecall__colc">
            <a href="#">rappel gratuit</a>
        </div>
        <div class="block-phonecall__cold"></div>
    </div> <!-- /block-phonecall__main -->
</div> <!-- /block-phonecall -->
