<footer>
    <div class="footer__main">

        {% include 'block-socials-footer.twig' %}
        {% include 'block-phonecall.twig' %}
        {% include 'block-3lines.twig' %}

    </div>
</footer>
