<header>
    <div class="header__main">
        {% include 'block-3lines.twig' %}
        {% include 'block-phonecall.twig' %}
        {% include 'menu-personal.twig' %}
        <div class="header__bot">
            <div class="header__bot-main">
                <div class="header__bot-left">
                    {% include 'logo.twig' %}
                </div>
                <div class="header__bot-right">
                    {% include 'navbar.twig' %}
                </div>
            </div> <!-- /header__bot-main -->
        </div> <!-- /header__bot -->
    </div> <!-- /header__main -->
</header>
