<div class="insurance">
    <div class="insurance__title">Avec Marignan Immobilier, profitez de :</div>
    <ul class="insurance__services">
        <li class="insurance__item">
            <div class="insurance__ico">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-experts"></use>
                </svg>
            </div>
            <div class="insurance__desc">
                <div class="insurance__sub">Des experts à votre écoute</div>
                <div class="insurance__text">Accenderat super his incitatum propositum ad nocendum aliqua mulier vilis, quae ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a militibus obscurissimis.</div>
            </div>
        </li>
        <li class="insurance__item">
            <div class="insurance__ico">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-etude"></use>
                </svg>
            </div>
            <div class="insurance__desc">
                <div class="insurance__sub">Une étude sur mesure</div>
                <div class="insurance__text">Accenderat super his incitatum propositum ad nocendum aliqua mulier vilis, quae ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a militibus obscurissimis.</div>
            </div>
        </li>
        <li class="insurance__item">
            <div class="insurance__ico">
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-pin"></use>
                </svg>
            </div>
            <div class="insurance__desc">
                <div class="insurance__sub">Un service de proximité</div>
                <div class="insurance__text">Accenderat super his incitatum propositum ad nocendum aliqua mulier vilis, quae ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a militibus obscurissimis.</div>
            </div>
        </li>
    </ul> <!-- /insurance__services -->
</div> <!-- /insurance -->
