<a href="#" class="logo">
    <svg preserveAspectRatio="xMidYMid meet">
        <use xlink:href="/temp-files/logo.svg#logo"></use>
    </svg>
    <div class="logo__lbl">
        <div class="logo__lbl1">marignan immobilier</div>
        <div class="logo__lbl2">bouwfonds</div>
    </div>
</a> <!-- /logo -->
