<div class="menu-personal">
    <div class="menu-personal__main">
        espace personnel
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-arrow-next-bold"></use>
        </svg>

        <a href="#" class="menu-personal__btn"></a>

        <!-- NOT LOGGED -->
        <div class="menu-personal__submenu">
            <form action="#" method="post">
            <div class="menu-personal__submenu-title">Connectez-vous</div>
            <div class="form-item form-item-email form-item-input-error">
                <input type="email" placeholder="Email">
            </div>
            <div class="form-item form-item-password">
                <input type="password" placeholder="Mot de passe">
            </div>
            <div class="form-item form-item-error">Email et/ou mot de passe invalide</div>
            <div class="form-item form-item-button form-item-button-login">
                <input type="button" value="connexion">
            </div>
            <div class="menu-personal__forgot-pass">
                <a href="#">Mot de passe oublié ?</a>
            </div>
            <div class="form-item form-item-button form-item-button-register">
                <input type="button" value="s’inscrire">
            </div>
            </form>
        </div> <!-- /menu-personal__sub -->

        <!-- LOGGED IN -->
        <!--div class="menu-personal__submenu">
            <form action="#" method="post">
            <div class="form-item form-item-button form-item-button-cart">
                <input type="button" value="accès à mon compte">
            </div>
            <div class="form-item form-item-button form-item-button-logout">
                <input type="button" value="déconnexion">
            </div>
            </form>
        </div> <!-- /menu-personal__sub -->

    </div> <!-- /menu-personal__main -->
</div> <!-- /menu-personal -->
