<nav class="navbar">
    <ul class="navbar__main">
        <li class="navbar__item navbar__item-home">
            <a href="#">
                <svg preserveAspectRatio="xMidYMid meet" style="width:29px;height:28px;fill:#007ba9">
                    <use xlink:href="/images/sprite.svg#ico-home"></use>
                </svg>
            </a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__btn">
                <strong>Trouver</strong>
                <span>un logement</span>
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                </svg>
            </a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__btn">
                <strong>habiter</strong>
                <span>dans le neuf</span>
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                </svg>
            </a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__btn">
                <strong>investir</strong>
                <span>dans le neuf</span>
                <svg preserveAspectRatio="xMidYMid meet">
                    <use xlink:href="/images/sprite.svg#ico-arrow-next"></use>
                </svg>
            </a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__btn">
                <strong>Marignan</strong>
                <span>les engagements</span>
            </a>
        </li>
        <li class="navbar__item navbar__item-blue">
            <a href="#" class="navbar__btn">
                <strong>Marignan</strong>
                <span>le groupe</span>
            </a>
        </li>
    </ul> <!-- /navbar__main -->
</nav> <!-- /navbar -->
