<div class="navfull">
    <div class="navfull__main">
        <div class="navfull__title">Une société de Rabo Real Estate Group</div>
        <div class="navfull__row">
            <div class="navfull__item">
                <div class="navfull__sub">Marignan Immobilier</div>
                <ul>
                    <li><a href="#">Le Groupe</a></li>
                    <li><a href="#">Recrutement</a></li>
                    <li><a href="#">Salons</a></li>
                    <li><a href="#">Portes ouvertes</a></li>
                    <li><a href="#">Vendre un terrain</a></li>
                    <li><a href="#">Parrainage</a></li>
                    <li><a href="#">Espace partenaire</a></li>
                    <li><a href="#">Immobilier d’entreprise</a></li>
                    <li><a href="#">Résidences services</a></li>
                </ul>
            </div> <!-- /navfull__item -->
            <div class="navfull__item">
                <div class="navfull__sub">Informations</div>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Plan du site</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div> <!-- /navfull__item -->
            <div class="navfull__item">
                <div class="navfull__sub">Les programmes immobiliers par département</div>
                <ul>
                    <li><a href="#">Immobilier neuf 75/Paris</a></li>
                    <li><a href="#">Achat neuf 69/Rhône</a></li>
                    <li><a href="#">Achat appartement neuf 92/Haut-de-Seine</a></li>
                    <li><a href="#">Immobilier neuf 59/Nord</a></li>
                    <li><a href="#">Immobilier neuf 93/Seine Saint Denis</a></li>
                    <li><a href="#">Achat appartement neuf 91/Essone</a></li>
                    <li><a href="#">Immobilier neuf 78/Yvelines</a></li>
                    <li><a href="#">Immobilier neuf 94/Val-de-Marne</a></li>
                </ul>
            </div> <!-- /navfull__item -->
            <div class="navfull__item">
                <div class="navfull__sub">Les programmes immobiliers par ville</div>
                <ul>
                    <li><a href="#">Achat appartement neuf Paris</a></li>
                    <li><a href="#">Achat appartement neuf Lyon</a></li>
                    <li><a href="#">Achat appartement neuf Marseilles</a></li>
                    <li><a href="#">Achat appartement neuf Bordeaux</a></li>
                    <li><a href="#">Achat appartement neuf LIlle</a></li>
                    <li><a href="#">Achat appartement neuf Limoges</a></li>
                    <li><a href="#">Achat appartement neuf Brest</a></li>
                </ul>
            </div> <!-- /navfull__item -->
        </div> <!-- /.navfull__row -->
        <div class="navfull__note">
            <p>Marignan Immobilier, promoteur immobilier, commercialise des programmes de logements neufs dans de nombreuses villes en France, à Paris, Lyon, Marseille, Lille, Nantes... Consultez l’ensemble de nos offres d’appartements neufs ou de maisons neuves et trouvez le logement qui vous convient que ce soit pour y habiter ou pour investir. Pour vous aider à concrétiser votre projet d’achat immobilier dans le neuf, des conseils  sont proposés sur notre site (aides et financements pour l’achat d’un bien immobilier, dispositifs fiscaux, simulateurs, etc.).</p>
            <p><span>*les prix</span> : Et est admodum mirum videre plebem innumeram mentibus ardore quodam infuso cum dimicationum curulium eventu pendentem. haec similiaque memorabile nihil vel serium agi Romae permittunt. ergo redeundum ad textum.</p>
        </div>
    </div> <!-- /navfull__main -->
</div> <!-- /navfull.twig -->
