<div class="news">
    <div class="news__title">L’actualité Marignan Immobilier</div>
    <img src="/temp-files/-tmp-image-1.jpg" alt="" class="news__img">
    <div class="news__item news__item-first">
        <div class="news__item-date">21.06.2013</div>
        <div class="news__item-title">Sed quid est quod in hac causa</div>
        <div class="news__item-text">
            <p>Huic Arabia est conserta, ex alio latere Nabataeis contigua; opima varietate conmerciorum castrisque oppleta validis et castellis, quae ad repellendos gentiumvicinarum excursus sollicitudo pervigil veterum per oportunos saltus erexit et cautos.</p>
            <a href="#" class="link-readmore news__item-readmore">Lire la suite</a>
        </div>
    </div> <!-- /news__item -->
    <div class="news__item">
        <div class="news__item-date">11.06.2013</div>
        <div class="news__item-title">Quod cum ita sit, paucae domus studiorum seriis</div>
        <div class="news__item-text">
            <p>Huic Arabia est conserta, ex alio latere Nabataeis contigua; opima varietate conmerciorum castrisque opp...</p>
            <a href="#" class="link-readmore news__item-readmore">Lire la suite</a>
        </div>
    </div> <!-- /news__item -->
    <div class="news__item">
        <div class="news__item-date">11.06.2013</div>
        <div class="news__item-title">Quod cum ita sit, paucae domus studiorum seriis</div>
        <div class="news__item-text">
            <p>Huic Arabia est conserta, ex alio latere Nabataeis contigua; opima varietate conmerciorum castrisque opp...</p>
            <a href="#" class="link-readmore news__item-readmore">Lire la suite</a>
        </div>
    </div> <!-- /news__item -->
    <div class="news__controls">
        <a href="#" class="btn-blue">Consulter toutes les actualités</a>
    </div>
</div> <!-- /news -->
