<div class="propositions">
    <div class="propositions__inner">
        <div class="propositions__title">Marignan Immobilier vous propose...</div>
        <div class="propositions__items">
            <div class="propositions__item">
                <div class="propositions__item-title">Avant-première</div>
                <div class="propositions__item-image"><img src="/temp-files/propositions-1.jpg" alt=""></div>
                <div class="propositions__item-name">Le Carré des Lumières</div>
                <div class="propositions__item-loc">
                    <svg preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="/images/sprite.svg#ico-pin-blue"></use>
                    </svg>
                    Eaubonne</div>
                <div class="propositions__item-price">A partir de <strong>150 000 €*</strong></div>
                <div class="propositions__item-desc">Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis ut saltem specie tenus crimina praescriptis legum committerentur, quod aliquotiens fecere principes saevi: sed quicquid Caesaris implacabilitati sedisset, id velut fas iusque perpensum confestim urgebatur impleri.</div>
                <div class="propositions__item-btn">
                    <a href="#" class="btn-blue">voir toutes les avant-premières</a>
                </div>
            </div> <!-- /propositions__item -->
            <div class="propositions__item">
                <div class="propositions__item-title">Avant-première</div>
                <div class="propositions__item-image"><img src="/temp-files/propositions-1.jpg" alt=""></div>
                <div class="propositions__item-name">Le Carré des Lumières</div>
                <div class="propositions__item-loc">
                    <svg preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="/images/sprite.svg#ico-pin-blue"></use>
                    </svg>
                    Eaubonne</div>
                <div class="propositions__item-price">A partir de <strong>150 000 €*</strong></div>
                <div class="propositions__item-desc">Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis ut saltem specie tenus crimina praescriptis legum committerentur, quod aliquotiens fecere principes saevi: sed quicquid Caesaris implacabilitati sedisset, id velut fas iusque perpensum confestim urgebatur impleri.</div>
                <div class="propositions__item-btn">
                    <a href="#" class="btn-blue">voir toutes les avant-premières</a>
                </div>
            </div> <!-- /propositions__item -->
            <div class="propositions__item">
                <div class="propositions__item-title">Avant-première</div>
                <div class="propositions__item-image"><img src="/temp-files/propositions-1.jpg" alt=""></div>
                <div class="propositions__item-name">Le Carré des Lumières</div>
                <div class="propositions__item-loc">
                    <svg preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="/images/sprite.svg#ico-pin-blue"></use>
                    </svg>
                    Eaubonne</div>
                <div class="propositions__item-price">A partir de <strong>150 000 €*</strong></div>
                <div class="propositions__item-desc">Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis ut saltem specie tenus crimina praescriptis legum committerentur, quod aliquotiens fecere principes saevi: sed quicquid Caesaris implacabilitati sedisset, id velut fas iusque perpensum confestim urgebatur impleri.</div>
                <div class="propositions__item-btn">
                    <a href="#" class="btn-blue">voir toutes les avant-premières</a>
                </div>
            </div> <!-- /propositions__item -->
        </div> <!-- /propositions__items -->
    </div> <!-- /propositions__inner -->
</div> <!-- /propositions -->
