<div class="slider {{slider_class}}">

    <div class="slider__cont">
        <ul class="slider__viewport">
            <li><img src="/temp-files/slider-2-1.jpg" alt=""></li>
            <li><img src="/temp-files/slider-2-1.jpg" alt=""></li>
            <li><img src="/temp-files/slider-2-1.jpg" alt=""></li>
        </ul> <!-- /slider__viewport -->
    </div> <!-- /slider__viewport -->

    <ul class="slider__pager">
    </ul> <!-- /slider__pager -->

    <div class="slider__direction-prev">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-arrow-next-bold"></use>
        </svg>
    </div>
    <div class="slider__direction-next">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-arrow-next-bold"></use>
        </svg>
    </div>

</div> <!-- /slider -->

{% set slider_class = '' %}
