<div class="tools-search">
    <div class="tools-search__map">
        <svg preserveAspectRatio="xMidYMid meet" class="tools-search__map-main">
            <use xlink:href="/images/sprite.svg#ico-map"></use>
        </svg>
        <svg preserveAspectRatio="xMidYMid meet" class="tools-search__map-logo">
            <use xlink:href="/images/sprite.svg#logo"></use>
        </svg>
    </div> <!-- /tools-search__map -->
    <div class="tools-search__cont">
        <strong>Trouvez</strong>
        une agence<br>
        marignan immobilier
        <a href="#" class="btn-blue">localiser les agences</a>
    </div> <!-- /tools-search__cont -->
</div> <!-- /tools-search -->
