<div class="tools">

    <a href="#" class="tools__item">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-calc"></use>
        </svg>
        <strong>Calculer</strong>
        vos frais de notaire
    </a>

    <a href="#" class="tools__item">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-capacite"></use>
        </svg>
        <strong>simuler</strong>
        votre capacité d’acquisition
    </a>

    <a href="#" class="tools__item">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-ptz"></use>
        </svg>
        <strong>emprunter</strong>
        avec un prêt à taux zero
    </a>

    <a href="#" class="tools__item">
        <svg preserveAspectRatio="xMidYMid meet">
            <use xlink:href="/images/sprite.svg#ico-loi"></use>
        </svg>
        <strong>Investir</strong>
        en loi duflot
    </a>

</div> <!-- /tools -->
